{% extends "base.html" %}

{% block info %}
<form action='/signup' method='post'>
    <table>
        <tbody>
            <tr>
                <td>
                    <label for="username">Username</label>
                </td>
                <td>
                    <input type='text' value='{{value}}' name='username' />
                    {% if error %}
                    <span class="error">{{error}}</span>
                    {% endif %}
                </td>
            </tr>
            <tr>
               <td>
                    <label for="password">Password</label>
                </td>
                <td>
                    <input type="password" valuepass="" name="password" />
                    {% if errorpass %}
                    <span class="error">{{errorpass}}</span>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td>
                    <label for="verify">Verify Password</label>
                </td>
                <td>
                    <input type="password" valueverify="" name="verify" />
                    {% if errorverify %}
                    <span class="error">{{errorverify}}</span>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td>
                    <label for="email">Email (optional)</label>
                </td>
                <td>
                    <input name="email" />
                    {% if erroremail %}
                    <span class="error">{{erroremail}}</span>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td>
                    <input type='submit' value="Submit Query" />
                </td>
            </tr>
        </tbody>
    </table>
</form>
{% endblock %}